params {
        run_name = "" //create a unique run name e.g platename_<timestamp> // 
    }

process {

    executor = "slurm"
    queue    = "",
    cpus     = "",
    memory   = "",
    time     = "",
    clusterOptions = " -- job-name= --account=my_account --mail-type=BEGIN,END,FAIL --mail-user=username@oahpp.com",
    scratch  = true, # default direcotry $TMPDIR
    #scratch = "" specify a path for scratch directory 
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 3


    withLabel: high_mem {
        queue  =  "",    
        memory =  "",     // e.g. { 128.GB * task.attempt } to double memory//
        time   =  "",
        cpus   =  "",
        clusterOptions = "--nodes = --ntasks-per-node = --threads-per-core = ",
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' },  // job fail handling//
        maxRetries = 3


    }
/* To modify specific single process within the pipeline, 
replace "my_process" within the following chunk of code with the name of the process */

    withName: my_process {
        queue  =  "",
        memory =  ""
        time   =  "",
        cpus   =  "",
        clusterOptions = "--nodes = --ntasks-per-node = --threads-per-core = "

    }
}

Singulairty {
    enabled              = true,
    cacheDir = ""     //The directory where remote Singularity images are stored. When using a computing cluster it must be a shared folder accessible to all compute nodes.//
}

timeline {
    enabled   = true,
    file      = "${param.run_name}.txt"  
    overwrite = false
    }

report {                                 // Execution report html format contains useful metrics //
    enabled     = true,
    file        = "${params.run_name}.html"
    overwrite = false
    }

trace {
    enabled   =  true, 
    file      = "${params.run_name}.txt",
    overwrite = false
}

dag {
    enabled   = true,
    file      = "${params.run_name}.png",
    overwrite = false,
    verbose =   true
}






